<h2>Create an Account</h2>
<div>
<form action="/auth/signup" method="post">
  <div>
    <label for="name">Username</label>
    <input type="text" name="name"  required />
  </div>
    <div>
    <label for="age">Age</label>
    <input type="number" name="age"  required />
  </div>
    <div>
    <label for="email">email</label>
    <input type="email" name="email"  required />
  </div>
  <div>
    <label for="hashedPassword">Password</label>
    <input type="password" name="hashedPassword" required />
  </div>
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
  <button>Register</button>
</form>
</div>